<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title> Hello SmartNinja </title>
    <link rel = "stylesheet" href = "/static/css/style.css">
</head>
<body>
<div id = "header">
    <button class = "buttonz"><a href = "\"> HOME </a> </button>
    <button class = "buttonz"><a href = "\about"> ABOUT </a> </button>
    <button class = "buttonz"> <a href = "\portfolio"> PORTFOLIO </a> </button>
    </div>
    <h1> This is my portfolio: </h1>
    <h2> I've done nothing so far! </h2>
</body>
</html>